<div class="main-content">

  <mat-card class="example-card card-fix">
    <div class="card-fix-container">

      <mat-card-header></mat-card-header>

      <mat-card-content class="content-center">
        <div *ngIf="isTokenAvailable">
          <h1>You have finished the task successfully!</h1>
          <mat-card class="token-container">
            <h4>{{taskToken}}</h4>
          </mat-card>
          <br>
          <h2 style="color: red">Copy generated token and paste it to the very bottom of this page and validate it. Then press 'Finish' button.</h2>
        </div>
        <div *ngIf="!isTokenAvailable">
          <h1>Unfortunately, your token cannot be retrieved. Please try again!</h1>
          <h3>Please save the complete URL of this page and send it to us via email</h3>
        </div>
      </mat-card-content>

    </div>
  </mat-card>
</div>
